:root {
    --color-fondo: #ffcb05; 
    --color-blanco: #ffffff;
    --color-gris-fondo: #f2f2f2;
    --fuente-principal: 'Ubuntu', sans-serif; 
}
html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: var(--fuente-principal);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
}


header {
  width: 100%;
  margin-bottom: 40px;  
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffcb05;
  padding: 20px 0;
  width: 100%;
}

.search-pokemon {
  max-width: 600px;
  margin: 0 auto;
}

.search-pokemon input {
    width: 100%;
    padding: 15px 25px;
    border: none;
    font-family: var(--fuente-principal);
    font-size: 1.1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    list-style: none;
    width: 100%;
}
.card {
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.card-imagen {
    background-color: var(--color-gris-fondo);
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.card-imagen img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.card-badge {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 0.8rem;
    color: #999;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px 6px;
}

.contenido {
    padding: 20px;
}

.contenido h3 {
    font-size: 1.6rem;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.types {
    display: flex;
    gap: 8px;
    list-style: none;
    margin-bottom: 15px;
}

.types li button {
    background: none;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    padding: 2px 8px;
    font-size: 0.7rem;
    font-family: var(--fuente-principal);
    text-transform: uppercase;
    color: #888;
    cursor: default;
}

.evolution {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
    color: #333;
    text-transform: capitalize;
}

.evolution strong {
    display: block;
    font-weight: 400;
    color: #999;
    font-size: 0.85rem;
    text-transform: none;
}
/* movimiento */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  will-change: transform; 
}

/* vuelo */
.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-color: #ffcb05; 
}

.card:hover .card-imagen img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}