.contenedor-texto {
    height: 200px;
    overflow: hidden;
    border: 6px solid #0fe65a;
}

.resaltar {
    display: inline-block;
    background-color: #e70a0a;
}

.caja-oculta {
    display: none;
}

h2 {
    display: block;
    background-color: lightblue;
}

a.btn-pequeno {
    display: inline;
    background-color: rgb(238, 144, 175);
}
